
/*-----------------------navigation----------------------------*/
.navcontainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 80, 105);
    padding: 10px;
    height: 80px;
}

.navcontainer h1{
    color: white;
    letter-spacing: 9.6px;
    
}

.navcontainer ul{
    display: flex;
    justify-content: space-between;
}

.navcontainer li{
    list-style-type: none;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .navcontainer img {
        margin-right: 30px;
    }
}

@media (max-width:480px){
    .navcontainer img{
        margin-right: 20px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.4em;
        font-size: 0.96em;
    }

    .navcontainer li{
        font-size: 0.75em;
        padding-left: 20px;
        padding-top: 5px;
    }   
}


@media (max-width: 390px){
    .navcontainer img{
        margin: 0px, 10px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.3em;
        font-size: 0.9em;
    }

    .navcontainer li{
        font-size: 0.75em;
        padding-left: 8px;
        padding-top: 5px;
    }
}

/*----------------------About US-------------------------*/

@media (min-width:741px){
    .aboutus-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 670px;
        padding: 30px 30px 0px 30px;
        background-color: white;
    }
    
    .image-large {
        max-width: 50%;
        height: 600px;
        object-fit: cover;
    }
    
    .image-small {
        display: none;
    }
    
    .text-container{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .text-container h1{
        text-align: center;
    }
    
    .text-container p{
        text-align: center;
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 3;
    }
}


@media (max-width: 740px) {
    .aboutus-container{
        font-display: block;
        overflow: hidden;
    }
    .image-large {
        display: none;
    }
    .image-small {
        display: block;
        text-align: center;
        margin: auto;
    }

    .text-container h1{
        text-align: center;
        margin-top: 20px;
    }
    
    .text-container p{
        text-align: center;
        line-height: 4;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width:810px) {
    .ab2 div{
        width: 90%;
    }
}



@media (max-width: 426px){
    .ab2 > div{
        width: 300px;
    }
}

.ab2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    align-items: center;
    border-top: 5px solid rgb(170, 169, 169) ;
    padding-top: 40px;
}
.ab2 > div{
    max-width: 900px;
    margin-bottom: 40px;
}

.ab2img{
    width:900px;
}

.ab2 h1{
    text-align: center;
    padding-bottom: 1.5rem;
}

.ab2 p{
    text-align: center;
    line-height: 3;
}

