
/*-----------------------navigation----------------------------*/
.navcontainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 80, 105);
    padding: 10px;
    height: 80px;
}

.navcontainer h1{
    color: white;
    letter-spacing: 0.6rem;
}

.navcontainer ul{
    display: flex;
    justify-content: space-between;
}

.navcontainer li{
    list-style-type: none;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .navcontainer img {
        margin-right: 30px;
    }
}

@media (max-width:480px){
    .navcontainer img{
        margin-right: 20px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.4rem;
        font-size: 0.96rem;
    }

    .navcontainer li{
        font-size: 0.75rem;
        padding-left: 20px;
        padding-top: 5px;
    }   
}


@media (max-width: 390px){
    .navcontainer img{
        margin: 0px, 10px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.3rem;
        font-size: 0.9rem;
    }

    .navcontainer li{
        font-size: 0.7rem;
        padding-left: 8px;
        padding-top: 5px;
    }
}

/*----------------------About US-------------------------*/


@media (min-width: 741px) {
    
    .aboutus-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 750px;
    padding: 30px;
    background-color: white;
    }

    .image-large {
        max-width: 50%;
        height: auto;
        object-fit: cover;
    }

    .image-small {
        display: none;
    }

    .text-container{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
    }
    
    .text-container h1{
        text-align: center;
    }
    
    .text-container p{
        text-align: center;
        margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 4;
    }

}

@media (max-width: 740px) {
    .aboutus-container{
        font-display: block;
    }
    .image-large {
        display: none;
    }
    .image-small {
        display: block;
        text-align: center;
        margin: auto;
    }

    .text-container h1{
        text-align: center;
    }
    
    .text-container p{
        text-align: center;
        
        line-height: 4;
    }

}
