/* BANNER */
.banner-container {
    background-image: url("../img/herobanner.jpg");
    background-size: cover;
    background-position: center;
    padding: 5rem;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner-text > h1 {
    font-size: 4rem;
}

.banner-text > p {
    font-size: 2rem;
}

.banner-text > a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    background-color: #000021;
    width: 250px;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;

    align-self: flex-end;
}

/* BEST SELLERS */
.best-sellers {
    padding: 3rem 0;
}
.best-sellers > h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-align: center;
        padding: 0 0 2rem 0;
}

.best-sellers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 3rem;
    padding: 0 2rem;
}

.best {
    background-color: white;
    text-align: center;
}

.best > p {
    padding: 0.4rem 0;
    text-transform: uppercase;
}

.best > img {
    width: 100vw;
}

/* VALUES */
.values-container {
    background-color: #000021;
    color: white;
}

.values {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
}

.values > h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    grid-column: 1 / -1;
}

.ourvalues > h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.ourvalues > p {
    line-height: 1.8;
}

.separator {
    margin: 0 auto;
    width: 30%;
}

/* INGREDIENTS*/
.ingredients {
    padding: 2.5rem 0;
}

.ingredients > h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.home-gallery {
    max-width: 80vw;
    margin: 0 auto;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.gallery {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.gallery-img {
    width: 100%;
    border-radius: 0.5rem;
    filter: brightness(80%);
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.gallery-img:hover {
    filter: brightness(60%);
    transform: scale(1.03);

}

.ing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.item1 {
    grid-column: span 2;
    grid-row: span 2;
}

.item4 {
    grid-column: span 2;
    grid-row: span 2;
}


/* ETHICAL */
.ethical {
    background-color: #000021;
    padding: 3rem 0;
}

.ethicals {
    background-image: url(../img/ethical.jpg);
    background-repeat: no-repeat;
    background-position: 50% 41%;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.ethicals > h2 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.ethicals > p {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
}

/* NEWSLETTER */
.newsletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/fragrance_kv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    height: 40vh;
    color: whitesmoke;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter > h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

.newsletter > h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.news {
    width: 40vw;

    display: flex;
    justify-content: space-around;
}

.news > input {
    padding: 1.3rem;
}

.news > input::placeholder {
    color: white;
    text-transform: capitalize;
}

[type="email"] {
    width: 70%;
    background-color: transparent;
    border: 1px solid white;
}

[type="submit"] {
    width: 25%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
}

@media (max-width: 769px) {
    .banner-text {
        gap: 1rem;
    }
    .home-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-img {
        filter: brightness(60%);
    }
    .item1 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .item4 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .newsletter {
        height: 45vh;
    }
    .news {
        width: 80vw;
    }
}

@media (max-width: 426px) {
    .best-sellers-container {
        grid-template-columns: 1fr;
    }
    .banner-text {
        gap: 1rem;
    }
    .banner-text > h1 {
        font-size: 2.5rem;
    }
    
    .banner-text > p {
        font-size: 2rem;
    }
    
    .banner-text > a {
        font-size: 1.5rem;
    
    }
    .home-gallery {
        grid-template-columns: 1fr;
    }
    .gallery-img {
        filter: brightness(60%);
    }
    .item1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .values {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .newsletter {
        height: 40vh;
    }
    .news {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    [type="email"] {
        width: 70%;
    }
    [type="submit"] {
        width: 70%;
    }
    .newsletter > p {
        display: none;
    }
    .newsletter > h1 {
        font-size: 2.7rem;
    }
    
    .newsletter > h2 {
        font-size: 1.5rem;
    }
    .ethicals {
        height: 250px;
        padding: 1rem 1rem;
    }
    .ethicals > h2 {
        margin-top: 0;
        line-height: 1.5;
    }
    .ethicals > p {
        display: none;
    }
}
