/*-------------------products----------------------*/
main{
    background-color: rgb(242, 239, 239);
}

.product-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner-product3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 40%;
    color: white;
}

.product-banner-text {
    width: 50%;
    height: 60vh;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-banner-text > h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.product-banner-text > p {
    line-height: 2;
    text-align: justify;
}

.gridarea-1{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    padding:20px 50px;
    background-color: rgb(242, 239, 239);
}

.itemname{
    font-size: 16px;
    margin-bottom: 5px;
}

.itemprice {
    font-size: 14px;
    color: rgb(174, 174, 174);
}

.gridarea-1 div{
    padding: 40px 0px;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    transition-duration: 0.5s; /*time*/
}

.gridarea-1 div:hover{
    transform: scale(1.05,1.05); /*expansion*/
}


@media (max-width: 810px){
    .gridarea-1{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding:15px 40px;
    }

    .itemname{
        font-size: 12px;
    }
    
    .itemprice {
        font-size: 10px;
    }
    .product-banner-text {
        width: 90%;
        height: 50vh;
        flex-direction: row;
        gap: 2rem;
    }
    
}

@media (max-width: 426px){
    .gridarea-1{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding:15px 20px;
    }

    .gridarea-1 div{
        padding: 20px 0px;
    }

    .itemname{
        font-size: 8px;
    }
    
    .itemprice {
        font-size: 6px;
    }
    .product-banner-text {
        width: 90%;
        height: 50vh;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .product-banner-text > p {
        display: none;
    }
}


