@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
}

ul {
    font-size: 2rem;
    list-style: none;
}

li {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

/*-----------------------navigation----------------------------*/
.navcontainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 80, 105);
    padding: 10px;
    height: 80px;
}

.navcontainer h1{
    color: white;
    letter-spacing: 0.6em;
}

.navcontainer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcontainer li{
    list-style-type: none;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .navcontainer img {
        margin-right: 30px;
    }
}

@media (max-width:480px){
    .navcontainer img{
        margin-right: 20px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.4rem;
    }

    .navcontainer li{
        padding-left: 20px;
        padding-top: 5px;
    }   
}


@media (max-width: 390px){
    .navcontainer img{
        margin: 0px, 10px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.3rem;
    }

    .navcontainer li{
        padding-left: 8px;
        padding-top: 5px;
    }
}

/* FOOTER */
footer {
    background-color: #000021;
    color: white;
    padding-top: 3rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

footer > p {
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-item > h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
}

.footer-item > ul > li {
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

.sns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.sns-icon {
    width: 4rem;
}

@media (max-width: 769px) {
    
}

@media (max-width: 426px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-item > h2 {
        padding: 1rem 0;
    }
    .icon-container {
        gap: 1.5rem;
    }
    .sns-icon {
        width: 3rem;
    }
}