* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
}

ul {
    font-size: 1.6rem;
}

li {
    font-size: 2rem;
}

img {
    max-width: 100%;
}


/*-----------------------navigation----------------------------*/
.navcontainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 80, 105);
    padding: 10px;
    height: 80px;
}

.navcontainer h1{
    color: white;
    letter-spacing: 0.6em;
}

.navcontainer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcontainer li{
    list-style-type: none;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .navcontainer img {
        margin-right: 30px;
    }
}

@media (max-width:480px){
    .navcontainer img{
        margin-right: 20px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.4rem;
    }

    .navcontainer li{
        padding-left: 20px;
        padding-top: 5px;
    }   
}


@media (max-width: 390px){
    .navcontainer img{
        margin: 0px, 10px;
    }
    .navcontainer h1{
        padding-top: 10px;
        letter-spacing: 0.3rem;
    }

    .navcontainer li{
        padding-left: 8px;
        padding-top: 5px;
    }
}
